<ng-container *ngIf="show">
  <div id="main">
    <img id="logo"src="../assets/images/quantiphi.png" alt="Quantiphi"><br>
    Welcome to The Election Day<br>
    <button class="btn btn-primary" (click)="movetosecond()">Elect Your Mascot</button>
  </div>
  <p id="p1">None of your personal details will be asked during the survey. Rest assured, we're awesome</p>
</ng-container>

<ng-container *ngIf="show_2" >
  <div id="main">
    Would you like a tutorial on how the system work?<br>
    <button class="btn btn-primary">YES, I'D LIKE THAT</button>
    <button id="second" class="btn btn-primary" (click)="movetothird()">No, I can start</button>
  </div>
</ng-container>

<ng-container *ngIf="show_3">
    <div >
      <h3>Department:Facilities</h3>
      <div class="content">
            <div class="up department">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
         Gravida arcu ac tortor dignissim convallis. Turpis egestas integer 
         eget aliquet nibh praesent. Adipiscing bibendum est ultricies integer. 
         Lorem donec massa sapien faucibus et molestie ac. Enim blandit volutpat
          maecenas volutpat blandit aliquam etiam erat. Ante in nibh mauris cursus 
          mattis molestie. Urna id volutpat lacus laoreet non. Ipsum dolor sit amet 
          consectetur adipiscing. Dignissim cras tincidunt lobortis feugiat vivamus at.
           Sollicitudin nibh sit amet commodo nulla. 
           </div>
          <div class="up facilities"><button class="btn btn-primary">Move On to the next department</button></div><br>
    </div>
        <div class="content">
      <p>Choose your mascot for this department(hover over each mascot to know it's meaning)</p>
      <img class="mascot" src="../assets/images/oyster.jpg" (click)="openFeedback('World is my oyster')"  alt="Quantiphi">
      <img class="mascot" src="../assets/images/Meoq.jpg" (click)="openFeedback('Cats Meow')"  alt="Quantiphi">
      <img class="mascot" src="../assets/images/whale.jpg" (click)="openFeedback('Whale of a time')"  alt="Quantiphi">
      <img class="mascot" src="../assets/images/elephant.jpg" (click)="openFeedback('Elephant in the room')"  alt="Quantiphi">
      <img class="mascot" src="../assets/images/deadfish.png" (click)="openFeedback('Dead Fish')"   alt="Quantiphi">
      <img class="mascot" src="../assets/images/Goose.png" (click)="openFeedback('Wild Goose chase')"  alt="Quantiphi"><br>
    </div>
      <ng-container *ngIf="feedback">
          <div class="feedback">
              <p>Overall rating for Facilities(1 -lowest,5 -highest)</p>
              <p>Share your reasons for selecting {{mascot_name}}</p>
              <p><input type="checkbox"> Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>
              <p><input type="checkbox"> Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>
              <p><input type="checkbox"> Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>
              <p><input type="checkbox"> Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>
          </div>
          <div class="feedback">
            <p>Any more reasons?</p>
            <p><input type="text" class="form-control" placeholder="Dui accumsan sit amet nulla facilisi morbi tempus iaculis."></p>
            <p><input type="text" class="form-control" placeholder="Dui accumsan sit amet nulla facilisi morbi tempus iaculis."></p>
            <p><input type="text" class="form-control" placeholder="Dui accumsan sit amet nulla facilisi morbi tempus iaculis."></p>
            </div>
          <div class="feedback">
            <p>suggestions</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
          </div>
      </ng-container>
    </div>
</ng-container>
